name: APK Automation

on:
  # Schedule: uncomment and adjust cron expression
  # schedule:
  #   - cron: "0 0 * * *" # Runs daily at midnight UTC

  # Push to a specific branch: uncomment and replace "main" with your branch name
  # push:
  #   branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Cache Python dependencies
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Set secret environment variables
        env:
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Print Environment Variables
        run: env
      - name: Run APK automation script
        run: python apk_automation.py